.flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  padding: 3rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 2rem;
  width: 100%;
}

.wrapper::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: calc(100% - 1rem);
  transform: translateX(0.5rem);
  height: 100%;
  top: 0.5rem;
  left: 0;
  background-color: rgb(15, 108, 190);
  border-radius: 2rem;
}
